@import './scss/reset';


.content {
  margin: auto;
}

.project-section {
  padding: 20px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-image: linear-gradient(to right, rgb(129, 206, 202), rgb(97, 218, 137));
  min-height: 100vh;
  align-content: flex-start;

}

.section-head {
  font-size: 30px;
  font-weight: 700;
  color:#000;
  margin-bottom: 10px;
}

.add-project {
  width: 100%;
  border: none;
  border-bottom: 2px, solid,rgb(154, 198, 236);
  border-bottom: solid;
  font-size: 16px;
  height: 30px;
  padding: 8px;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  background-color: rgb(181, 185, 183);
  border: 2px solid rgb(141, 138, 138);
  border-radius: 5px;
  padding: 5px 5px 5px 15px;
  margin: 15px 0;
}

.project-title {
  width: inherit;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

.danger-status {
  position: absolute;
  display: flex;
  padding:7px;
  font-size: 8px;
  border-radius: 50%;
  background-color: rgb(226, 80, 80);
  color: #fff;
  top: 0;
  right: 35px;
  align-items: center;
}

.completion-status {
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  font-size: 8px;
  border-radius: 50%;
  background-color: #27a031;
  color: #fff;
  top: 0;
  right: 5px;
  align-items: center;
}

.project-delete-icon {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.project:hover .project-delete-icon {
  opacity: 1;
  visibility: visible;
}
.selected {
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08);
}

// todo details section
.todo-section {
  margin-left: 40px;
  padding: 30px;
  background-image: linear-gradient(to left bottom, rgb(129, 206, 202), rgb(97, 218, 137));
}

.project-header {
  font-size: 30px;
    font-weight: 700;
    color: rgb(141, 138, 138);
    margin-bottom: 15px;
}

.todo-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.todo-head p {
  color: rgb(87, 182, 123);
}

.todo-head p:hover {
  transform: scale(1.3);
  transition: ease-in-out;
}


// new form will be hidden
.alert-message {
  color: red;
  font-weight: 400;
}
.new-form {
  margin: auto;
  padding: 10px;

}
.new-form input:not(:last-child),
.new-form input:not(:nth-last-child(2)),
.new-form textarea {
  width: 100%;
  margin: 10px;
  margin-left: 0;
  padding: 5px;
  border: none;
  border-bottom: 2px solid;
}

.add-todo,
.edit-todo {
  float: right;
  width: 80px;
  margin: 0;
  border: none;
}
.todo-list {
  color: rgb(40, 138, 97);
}

.todo-title {
  width: 65%;
  flex-direction: row;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
}

.todo-item {
  background-color: #fff;
  padding: 0;
  position: relative;
  -webkit-box-shadow: 10px 13px 23px -12px rgba(107,99,107,1);
  -moz-box-shadow: 10px 13px 23px -12px rgba(107,99,107,1);
  box-shadow: 10px 13px 23px -12px rgba(107,99,107,1);
  border-radius: 5px;
}

.todo-item:not(:last-child) {
  margin-bottom: 20px;
}

.todo-item:hover {
  transform: translateY(-2px);
  transition: all 0.5s;
}

.todo-icons {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.todo-item:hover .todo-icons {
  opacity: 1;
  visibility: visible;
}

.visible-todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item:hover {
  cursor: pointer;
}

.todo-icons > i {
  padding: 0 10px;
}

i {
  padding: 5px;
}

.delete-icon:hover,
.edit-icon:hover,
.details-icon:hover {
  transform: scale(2);
}

.hidden {
  display: none !important;
}

.details-section {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.status-green {
  transform: translateY(2);
  color: rgb(44, 184, 67) !important;
}
// footer section

.footer-section {
  padding: 10px;
  background-color:black;
  color:#fff;
  position: sticky;
}